---
// Debug Editor Page
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Debug Editor</title>
  </head>
  <body>
    <div id="debug-editor"></div>
    <script>
      import EditorDebug from '../components/EditorDebug.tsx';
      import React from 'react';
      import { createRoot } from 'react-dom/client';
      
      const container = document.getElementById('debug-editor');
      const root = createRoot(container);
      root.render(React.createElement(EditorDebug));
    </script>
  </body>
</html>
